In [1]:
#20.09.24
import pandas as pd

### 0.1 Erstellen Sie das Jupyter-Notebook (JN) 00-WarmingUp und laden Sie das referenzierte Movie-Dataset1. Über welche Dimensionalität verfügt das Movie-Dataset bzw. das erstellte DataFrame?

In [153]:
data = pd.read_csv("movie.csv", encoding="ISO-8859-1") #no UTF-8!
spamDF = pd.read_csv("spam.csv", encoding="latin1") #latin1 = ISO-8859-1

data.shape #dimensions: 4916x28

(4916, 28)

### 0.2 Generieren Sie nachfolgende JN-Ausgabe. Anm.: Die vielen Fragezeichen können ignoriert werden

In [17]:
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

### 0.3 Selektiert man eine Spalte (z.B. movie_title) des erstellten Movie-DataFrames, ist das Ergebnis vom Typ Series. Treten Sie den Beweis an (<class 'pandas.core.series.Series'>)

In [23]:
selected_data = data.movie_title
print(type(selected_data))

# data.info()

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4902 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

### 0.4 Sicherlich wissen Sie noch, dass man DataFrames manipulieren kann. Fügen Sie die Spalte „has_seen“ mit dem Initialwert „0“ hinzu

In [48]:
data["has_seen"] = 0
data.has_seen

0       0
1       0
2       0
3       0
4       0
       ..
4911    0
4912    0
4913    0
4914    0
4915    0
Name: has_seen, Length: 4916, dtype: int64

### 0.5 Wir sind

#### a) an der Gesamtanzahl der Director- und Actor_{1,2,3}-Likes interessiert. Um nicht jedes Mal die Summe über alle bilden zu müssen, empfiehlt sich mit „director_actor_facebook_likes“ eine weitere Spalte, die die Summe der definierten Likes je Film aufweist. Bilden Sie diese

In [128]:
sum = data["director_facebook_likes"] + data["actor_1_facebook_likes"]  + data["actor_2_facebook_likes"]  + data["actor_3_facebook_likes"]
data["director_actor_facebook_likes"] = sum
data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,director_actor_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,95000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,NaN

#### b) Wie man der exemplarischen Ergebnisdarstellung entnehmen kann, weist zumindest ein Eintrag den Wert „NaN“ auf. Was ist die Ursache?  Finden Sie c) heraus, um wie viele Einträge es tatsächlich handelt und eliminieren Sie d) das Problem, indem Sie die betroffenden Felder des Datasets auf „0“ setzen.

In [143]:
# b) weil ein paar Spalten von Director und Actor bereits den Wert NaN enthalten -> addiert man eine Zahl mit NaN kommt wieder NaN raus

# c)
data["director_actor_facebook_likes"].isna().sum()

4916

In [113]:
# d)
data.fillna(0)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,director_actor_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46563.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,95000.0
4,0,Doug Walker,0.0,0.0,131.0,0.0,Rob Walker,131.0,0.0,Documentary,...,0,0,0,0.0,0.0,12.0,7.1,0.00,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,0.0,Comedy|Drama,...,English,Canada,0,0.0,2013.0,470.0,7.7,0.00,84,1427.0
4912,Color,0,43.0,43.0,0.0,319.0,Valorie Curry,841.0,0.0,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,0.0,0.0,593.0,7.5,16.00,32000,0.0
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,0.0,Drama|Horror|Thriller,...,English,USA,0,1400.0,2013.0,0.0,6.3,0.00,16,0.0
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,0.0,2012.0,719.0,6.3,2.35,660,2154.0
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,141.0

###  0.6 Es stellt sich die Frage, ob ein Film, dessen Produktion (vgl. Budget) 22 Millionen beträgt, kostspielig ist oder nicht. Wie könnte man das herausfinden?

In [147]:
# durch Vergleich mit dem "Durchschnittsbudget"
data["budget"].mean()

# Durchschnitt ist ungefähr 37 Mio, deshalb sind 22 Mio nicht kostspielig

data["budget"].describe()

count    4.432000e+03
mean     3.654749e+07
std      1.002427e+08
min      2.180000e+02
25%      6.000000e+06
50%      1.985000e+07
75%      4.300000e+07
max      4.200000e+09
Name: budget, dtype: float64

### 0.7 Zusatzaufgabe für die Motivierten:  Für eine spätere Übung benötigen wir das referenzierte SMS-Spam-Dataset2. Dieses weist 5574 Nachrichten auf, die entweder als Spam oder Ham (=kein Spam) Nachricht klassifiziert sind. Laden Sie a) den Datensatz (Plain text). Fügen Sie b) eine weitere Spalte hinzu, die die Gesamtlänge der jeweiligen Nachricht aufweist (siehe nachfolgende Abbildung).

In [159]:
spamDF["length"] = spamDF["v2"].str.len()
spamDF.sort_values(by="length", ascending=False)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,length
1084,ham,For me the love should start with attraction.i...,NaN,NaN,NaN,910
1862,ham,The last thing i ever wanted to do was hurt yo...,NaN,NaN,NaN,790
2433,ham,Indians r poor but India is not a poor country...,NaN,NaN,NaN,632
1578,ham,How to Make a girl Happy? It's not at all diff...,NaN,NaN,NaN,611
2847,ham,Sad story of a Man - Last week was my b'day. M...,NaN,NaN,NaN,588
...,...,...,...,...,...,...
5268,ham,\ER,ENJOYIN INDIANS AT THE MO..yeP. SaLL gOoD Heh...,NaN,NaN,3
4496,ham,Ok,NaN,NaN,NaN,2
5357,ham,Ok,NaN,NaN,NaN,2
1924,ham,Ok,NaN,NaN,NaN,2
3049,ham,Ok,NaN,NaN,NaN,2